<div class="container mt-5">
  <div class="d-flex justify-content-center card">
    <div class="p-3">
      <h1 class="text-center">โปรแกรมสุ่มรหัสผ่าน</h1>

      <div class="mb-3 row">
        <label class="col-3 col-form-label">ใส่จำนวนตัวอักษร</label>
        <div class="col-9">
          <input
            type="text"
            class="form-control"
            (input)="onChangeLength($event)"
          />
        </div>
      </div>

      <div class="form-check">
        <div class="control">
          <input
            class="form-check-input"
            (change)="OnUseLetter()"
            type="checkbox"
          />
          <label class="form-check-label"> ใช้ตัวอักษร </label>
        </div>
      </div>

      <div class="form-check">
        <div class="control">
          <input
            class="form-check-input"
            (change)="OnUseNumber()"
            type="checkbox"
          />
          <label class="form-check-label"> ใช้ตัวเลข </label>
        </div>
      </div>

      <div class="form-check">
        <div class="control">
          <input
            class="form-check-input"
            (change)="OnUseSymbol()"
            type="checkbox"
          />
          <label class="form-check-label"> ใช้อักขระ </label>
        </div>
      </div>
      <div class="pt-2">
        <button
          type="button"
          class="btn btn-info"
          [disabled]="
            !(length && (includeLetters || includeSymbol || includeNumber))
          "
          (click)="onClickBtn()"
        >
          สุ่มรหัสผ่าน
        </button>
      </div>
      <div class="card mt-3" *ngIf="password">
        <div class="p-3 row">
          <label class="col-4 col-form-label">รหัสผ่านของคุณที่สุ่มได้</label>
          <div class="col-5">
            <input class="form-control" [value]="password" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

